---
name: Build NodeJS Application
on:
  push:
    branches:
      - master
jobs:
  job1_Build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the Repository
        uses: actions/checkout@v5
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          # node-version: '24'
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
        # run: npm install # alternative to npm ci
        # reference for package.json: https://github.com/FaizReza/Nodejs-GithubActions/blob/master/package.json
        #  dependencies are listed in package.json file
      - name: Run Tests
        run: npm test
      - name: Build Application/Code
        run: npm run build
      # - name: Deploy Application/Code
      #   run: echo "Deploying the application..."
      # Add your deployment commands here
